* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

header.contenedorPadre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 16px 20px;
  background-color: #130102;
  border-bottom: 0.3px solid rgba(250, 250, 250, 0.14);
}

img.logoPrincipal {
  width: auto;
  height: 80px;
  display: block;
  border-radius: 30px;
}

img.logoContenido {
  display: flex;
  align-items: center;
}

ul.navlinks {
  list-style: none;
  display: flex;
}

.linksNavegacion a{
  color: #f3f3f6;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  margin-left: 16px;
}
.linksNavegacion p{
  color: #f3f3f6;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  margin-left: 16px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  max-width: 280px;
  width: 100%;
  padding: 8px;
  /* espacio interno general */
  background: #1a1a1a;
  border: 1px solid #3a3a3a;
  border-radius: 9999px;
  /* bien redondeado */
  font-weight: bold;
  /* negrita */
  justify-content: space-between;
}

.search button {
  margin-left: 8px;
  border: 1px solid #4a4a4a;
  background: #1a1919;
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 9999px;
  font-weight: bold;
  /* negrita */
  cursor: pointer;
  /* que cambie la mano del cursor */
  transition: background-color .2s ease;
  /* transición suave */
}

.search button:hover {
  background-color: #333333;
}

.search input {
  border: none;
  background: transparent;
  color: #e5e7eb;
  /* texto clarito */
  padding: 10px 4px;
  font-weight: bold;
  outline: none;
}


/* FOOTER */

footer.pieDePag {
  background-color: #130102;
  border-top: 0.3px solid rgba(250, 250, 250, 0.2);
  padding: 14px 18px;
  color: #f3f3f6;
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

footer.contenidoDelPie {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.footerContenido p {
  margin: 0;
  font-weight: 500;
}

.integrantes {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  text-align: right;
}

/* CUERPO */

main.cuerpo {
  background-image: url("../img/DISEÑO.png");
  display: flex;
}

section.tienda {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 24px 0 24px 24px;
  padding: 0;
}

section.izquierda {
  width: 20%;
  background-color: #1b1412;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  padding: 12px 14px;
  margin-right: 28px;
  /* separación de la derecha */
}

/* Título "Categorías" */
.tituloCategorias {
  color: #E2AC37;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  letter-spacing: 0.6px;
  /* espaciado */
  margin-bottom: 12px;
}

/* Lista categorías */
ul.listaCategorias {
  list-style: none;
  padding-left: 0;
}

.listaCategorias li {
  margin-bottom: 9px;
  /* separa los botones */
}

.listaCategorias a {
  display: block;
  text-decoration: none;
  color: #f3f3f6;
  font-family: "Inter", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  padding: 10px 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  background: #211916;
  transition: background-color .2s ease;
}

.listaCategorias a:hover {
  background-color: #3a2d28;
}

section.derecha {
  width: 80%;
  padding-right: 1%;
}

section.derecha h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0.8px;
  margin: 6px 0 12px;
}

#masVinilos {
  /*agrego id porque sino derecha tiene más peso y no se aplica el margin-top*/
  margin-top: 20px;
}


section.masVendidos1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.extra1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Recuadros para 5 álbumes por fila */
section.masVendidos1 article {
  width: 19.9%;
  background: #261816;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 12px;
  color: #eaeaea;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.65%;

  /* para alinear el botón VER MAS al fondo de cada tarjeta: */
  display: flex;
  flex-direction: column;
}

section.extra1 article {
  width: 19.9%;
  background: #261816;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 12px;
  color: #eaeaea;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.65%;
  display: flex;
  flex-direction: column;
}

/* Imagen dentro del recuadro */
section.derecha img.album {
  display: block;
  width: 100%;
  /* para ocupar el ancho del recuadro */
  height: auto;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Tipos de texto dentro del recuadro */
section.derecha article h4 {
  margin: 10px 0 6px;
  font-weight: 800;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

section.derecha article p {
  color: #cfcfcf;
  font-size: 14px;
  margin: 0 0 8px;
  font-family: "Inter", sans-serif;
}

h4.precio {
  color: #E2AC37;
  font-weight: 800;
  margin: 6px 0 10px;
  font-family: "Inter", sans-serif;
}

a.botonVerMas {
  display: block;
  text-align: center;
  background: #f97316;
  color: #eaeaea;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 595;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-top: auto;
  /* para que todos queden alineados */
  height: 44px;
  line-height: 24px;
}

a.botonVerMas {
  transition: background-color .2s ease;
}

a.botonVerMas:hover {
  background-color: #e3560a;
}

.masVendidos1 article .textoArriba {
  margin-top: 3px;
}

.extra1 article .textoArriba {
  margin-top: 3px;
}

.masVendidos1 article .textoAbajo {
  margin-top: auto;
}

.extra1 article .textoAbajo {
  margin-top: auto;
}

.masVendidos1 article .textoAbajo .botonVerMas {
  margin-top: 11px;
}

.extra1 article .textoAbajo .botonVerMas {
  margin-top: 11px;
}

/* PAGINA PRODUCT */
main.cuerpoProduct {
  background-image: url("../img/DISEÑO.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 35px;
}

section.mainproduct {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 15px 25px 15px 5px;
  border-radius: 25px;
  margin: 50px 100px 50px 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

section.descripcionproduct {
  display: flex;
  flex-direction: column;
}

img.portadaproduct {
  width: 37%;
  height: 37%;
  border-radius: 25px;
  margin: 0px 25px 20px 25px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

h2.tituloalbum {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  font-weight: bold;
  color: white
}

h3.marcaalbum {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #FD8851;
}

p.descripcionalbum {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke
}

h3.precioalbum {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #E2AC37
}

h3.infoalbum {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke
}

article.hastag {
  display: flex;
  justify-content: flex-start;
}

span.hastagg {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #E2AC37;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px 2px 10px 0px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

article.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px 2px 10px 0px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.info{
  margin-left: 5px;
  margin-right: 5px;
}

/* PAGINA LOGIN */

div.paglogin {
  background-image: url(../img/DISEÑO2.png);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  box-shadow: 1px 2px 50px 1px rgba(0, 0, 0, 0.4);
  height: 460px;
  width: 80%;
  margin: 80px auto;
  padding: 16px;
}

section.registerlogin {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p.descripcionlogin{
  font-size: 19px;
  text-align: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin-bottom: 3px;
}

section.login {
  border-radius: 20px;
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2.titulologin {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  color: #E2AC37;
  text-align: center;
  margin: 0;
}

label.username1 {
  display: block;
  font-weight: 400;
  font-size: 17px;
  margin: 10px auto 6px;
  width: 40%;
  font-family: "Inter", sans-serif;
  color: whitesmoke
}

input.emailypassword {
  width: 40%;
  align-self: center;
  background-color: whitesmoke;
  color: #1a1a1a;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 10px;
  height: 36px;
  padding: 0 12px;
  margin: 0 0 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
}

input.emailypassword::placeholder{
  color: #8a8a8a;
  font-weight: 400;
}

button.botonlogin{
  display: block;
  align-self: center;
  margin-top: 20px;
  padding: 8px 16px;
  background: #E2AC37;
  color: #fff;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 12px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: .3px;
  cursor: pointer;
  transition: background-color .2s ease;
}

button.botonlogin:hover{
  background: #ffd16e;
}
.username{
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 17px;
  margin: 10px auto 6px;
  width: 50%;
  font-family: "Inter", sans-serif;
  color: rgb(255, 10, 10)
}
/* CATEGORIA */

body.cuerpoCategoria {
  background-image: url("../img/DISEÑO.png");
  background-size: 100% 100%;
}

section.categoria {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 25px 0px;
  border-radius: 25px;
  margin: 50px 150px 0px 150px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

article.albumesCategoria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.tituloCategoria {
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}


/* SEARCH */

body.cuerpoSearch {
  background-image: url("../img/backgorundCircular.png");
  background-size: 100% 100%;
}

h2.tituloSearch {
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

h4.tituloAlbumSearch {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

p.descripcionSearch {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  align-self: center;
  padding-bottom: 25px;
  font-size: large;
  text-align: center;
}

h4.precioSearch {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #E2AC37;
  align-self: center;
  padding-bottom: 25px;
  font-size: large;
  text-align: center;
}
section.noResults {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  height: 30vh;
  padding-bottom: 25px;
  border-radius: 25px;
  align-items: center;
  margin-top: 45px;
  text-align: center;
  color: white;
}
#noresultados{
  color: #fe0000;
  font-size: 50px;
  letter-spacing: 3px;
}
#p_noresultados{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

/* REGISTER */

.bodyregister {
  background-image: url("../img/backgroundregister.png");
}

main.cuerpo1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/DISEÑO.png");
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section.registerlogin {
  border-radius: 20px;
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.login {
  border-radius: 20px;
  height: 100%;
  width: 57%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.botonlogin {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  border-radius: 15px;
  margin: 10px 2px 10px 0px;
  padding: 14px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
  text-decoration: none;
  align-self: center;
  font-size: x-large;
  background-color: rgba(57, 21, 7, 0.7);
}

.botonlogin2 {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  border-radius: 15px;
  margin: 10px 2px 10px 0px;
  padding: 14px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
  text-decoration: none;
  width: 15%;
  align-self: center;
  font-size: x-large;
  background-color: rgba(57, 21, 7, 0.7);
}

input.emailypassword {
  width: 40%;
  align-self: center;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px 0px 5px 5px;
}

.divcheckbox {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: whitesmoke;
  align-self: center;
  padding-top: 14px;
}

/* RESPONSIVE */

@media (max-width: 420px) {
  /*PRODUCTO*/
  main.cuerpoProduct {
    padding-bottom: 20px;
  }
  section.mainproduct {
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 12px;
  }
  section.descripcionproduct {
    height: auto;
    width: 90%;
  }
  h2.tituloalbum {
    font-size: 28px;
    text-align: center;
  }
  h3.marcaalbum {
    font-size: 20px;
    text-align: center;
  }
  p.descripcionalbum {
    font-size: 16px;
    text-align: center;
  }
  h3.precioalbum {
    font-size: 20px;
    text-align: center;
  }
  h3.infoalbum {
    font-size: 16px;
    text-align: center;
  }
  article.hastag {
    justify-content: center;
  }
  span.hastagg {
    font-size: 14px;
  }
  article.review {
    font-size: 14px;
    justify-content: center;
  }

  /* HOME y CATÁLOGO */

  header.contenedorPadre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 12px;
  }

  .logoContenido {
    display: flex;
    align-items: center;
  }

  img.logoPrincipal {
    height: 42px;
    width: auto;
    margin-left: 50px;
    margin-top: 10px;
  }

  .search {
    margin-left: auto;
    align-items: center;
    width: auto;
    padding: 4px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .search input {
    width: 160px;
    padding: 8px 10px;
    font-size: 12.5px;
    border-radius: 9999px;
  }

  .linksNavegacion {
    order: 2;
    /*para que quede abajo del logo y search*/
    width: 100%;
    margin-top: 18px;
  }

  .linksNavegacion .navlinks {
    justify-content: center;
  }

  .linksNavegacion .navlinks li {
    margin: 0 7px 6px;
  }

  section.tienda {
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 12px;
  }

  section.izquierda {
    width: 100%;
    margin: 0 0 24px 0;
    padding: 12px;
  }

  ul.listaCategorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section.derecha {
    width: 100%;
    padding: 0;
  }

  section.masVendidos {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  section.masVendidos1 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  section.masVendidos1 article {
    width: 100%;
    margin-bottom: 24px;
  }

  section.extra1 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  section.extra1 article {
    width: 100%;
    margin-bottom: 24px;
  }

  /* LOGIN */

  div.paglogin {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 24px;
    padding: 12px;
  }

  section.registerlogin {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  section.login {
    width: 100%;
    height: auto;
  }

  a.botonregister {
    width: 45%;
  }

  button.botonlogin2 {
    width: 35%;
  }

  /* SEARCH RESULTS */

  section.fondoBusqueda {
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 12px;
  }

  article.albumesCategoria {
    width: 100%;
    margin-bottom: 24px;
  }

  section.derecha h2 {
    font-size: 35px;
  }

}
